
header{
  width:100vw;
  display: flex;
  justify-content: center;
}
body{
  overflow-x: hidden;
}
form[name="contactUsForm"]{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 90vw;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 25px;
}
form[name="contactUsForm"] p{
  text-align: center;
  width:50%;
}
form[name="contactUsForm"] .inputs{
  display: flex;
  width:80%;
  align-items: center;
  justify-content:space-between;
}
h2{
  padding-top: 15px;
  padding-bottom:15px;
}
.inputs{
  display: flex;
  flex-direction:column;
  min-width: 100%;
  margin-top: 20px;
}
input{
  border:none;
  outline: none;
  border: 2px solid rgb(75, 74, 74);
  border-radius: 9px;
  height: 30px;
  padding-left: 10px;
}
label{
  margin-bottom: 3px;
}
.input-group{
  width: 75%;
}
.input-field{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  
}
textarea{
  border: none;
  outline: none;
  border-radius: 9px;
  border: 2px solid rgb(75, 74, 74);
  padding: 10px;
}
.textarea-field{
  display: flex;
  flex-direction: column;
}
 button{
  padding: 7px 17px;
  border-radius: 12px;
  border: none;
  margin-bottom: 30px;
  margin-top:15px;
  background-color: rgb(94, 194, 94);
  font-size: 0.9em;
  transition: background-color 0.5s ease;
}
button:hover{
  cursor:pointer;
  background-color: rgb(47, 120, 47);
}
/* up to date form style */
.uoToDate-form-box{
  width: 100vw;
  background-color: rgb(250, 175, 36);
  margin-top: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
}

form[name="upToDateForm"]{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 25px auto;
  width: 90vw;
  background-color: #fff;
  border-radius: 12px;
}
form[name="upToDateForm"] p{
  text-align: center;
  width:50%;
  color: rgb(25, 25, 25);
}
.input-btn-container{
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* ourContact style*/
.ourContact{
  width:90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #fff;
  margin-top: 25px;
  padding-left: 20px;
  border-radius: 12px;
}
.ourContact-left{
  margin: 20px;
}
.businessLunch{
  width:110px;
  height:110px;
  background-color: rgb(135, 237, 26);
  border-radius:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.businessLunch p{
  text-align: center;
  width:50%;
  margin-top: 5px;
  font-size: 0.6em;
}
.adress-box{
  display: flex;
  margin: 20px;
  align-items:center;
}
.adress-box p{
  margin-bottom: 5px;
}
.adress-box a{
  margin-left: 0;
}
.ourContact .icon{
  width:50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(135, 237, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.errBox{
  font-size: 0.8em;
  margin-top: 5px;
  color: red;
}
.ourContact-left h1{
 margin-top: 10px;
}
.ourContact-left button{
  margin-left: 20px;
  background-color: rgb(214, 214, 40);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  form{
    width:85vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .inputs{
    flex-direction: row;
    justify-content:space-between;
  }
  form{
    width:80vw;
  }
  .input-field:first-child{
    margin-right: 20px;
  }
  .input-btn-container input{
    width: 50%;
  }
  .input-btn-container{
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-bottom: 30px;
  }
  form[name="upToDate-form-box"] button{
    margin: 0 0 0 20px;
  }
  .ourContact{
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    padding-left: 20px;
    padding-right: 20px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  form{
    width:70vw;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}